<%- include('components/header', { header: true }) %>

<!-- For loop to iterate characters -->
<% characters.forEach(function(character) { %>

<!-- If id passed through is equal to id of current iterations display character data -->
<% if(id.trim() == character.id) { %>

<svg class="star-filter">
  <!-- filter element's code reproduced from: https://codepen.io/susan8098/pen/XOPvPR -->
  <filter id="glow" x="-20%" y="-20%" width="150%" height="150%">
    <!-- Blur the star / origin image input 'SourceAlpha' -->
    <feGaussianBlur in="SourceAlpha" stdDeviation="3" result="blurred" />
    <!-- Flood / Fill with the desired color -->
    <feFlood flood-color="#ebf0f6" result="colored" />
    <!-- Composite (join) the 2 above together -->
    <feComposite
      in="colored"
      in2="blurred"
      operator="in"
      result="softGlow_colored"
    />

    <feMerge>
      <feMergeNode in="softGlow_colored" />
      <feMergeNode in="SourceGraphic" />
    </feMerge>
  </filter>
</svg>

<!-- Grid container for page layout -->
<div class="page-content" id="character-page">
  <div class="overlay">
    <div class="popup-container">
      <div class="popup">
        <h2>Psst, heres a Tip...</h2>
        <p>
          Click on the glowing stars to discover the different ways the circus
          character benefits from their superfood!
        </p>
        <div class="primary-btn btn">
          Okay, Start discovering!
          <div class="arrow-box"><span class="arrow">👉🏼</span></div>
        </div>
        <div>
          <input type="checkbox" id="dont-show-again" />
          <label for="dont-show-again">Don't show again</label>
        </div>
      </div>
      <div class="line-background"></div>
      <div class="line-border"></div>
    </div>
  </div>
  <!-- Grid column 1 - SuperfoodCircus link section  -->
  <div class="arrow-btn superfoodcircus-link">
    <a href="/superfoodcircus"
      ><p>superfood circus</p>
      <img
        src="../public/img/this-way-left.png"
        alt="arrow pointing to the left"
    /></a>
  </div>

  <!-- Grid column 2 - character section  -->
  <div class="character-content">
    <!-- Title  -->
    <div class="title">
      <!-- Name and description elements -->
      <h1>Your circus superpower is ....</h1>
    </div>

    <!--  Character image -->
    <div class="character-img">
      <img src="<%= character.image %>" alt="Character Image" />
      <div class="hotspots-container">
        <!-- Loop through superfoods data -->
        <% superfoods.forEach(function(superfood) { %>

        <!-- If id passed through is equal to id of current iterations display superfood data -->
        <% if(id.trim() == superfood.character) { %>

        <!-- Conter for benefits -->
        <%let count = 1; %>

        <!--  Loop through benefits -->
        <% superfood.benefits.forEach(function(benefit) { %>
        <div class="hotspot">
          <div class="star"><%-include('components/star.ejs') %></div>

          <div class="benefit-dialog">
            <!--  Display benefits -->
            <p><%= "Benefit " + count + ": " + benefit %></p>

            <div class="close-benefit-btn">Close</div>
          </div>
        </div>

        <!-- Increment benefits counter -->
        <% count++; %> <% }) %> <% } %> <% }) %>
      </div>
    </div>

    <!-- Superfood data -->
    <div class="superfood-data">
      <!-- superfood image -->
      <img src="<%= character.superfoodImg %>" alt="Superfood Image" />

      <!-- Character & superfood names -->
      <div class="text-data">
        <h1><%= character.name %></h1>
        <h3>Your superfood is <%= character.superfood %></h3>
      </div>
    </div>
  </div>

  <!-- Grid column 3 - Recipe link section  -->
  <div class="arrow-btn recipe-link">
    <a href="/recipes/<%= character.superfoodId %>"
      ><p><%= character.superfood %> Recipes</p>
      <img
        src="../public/img/this-way-right.png"
        alt="arrow pointing to the right"
    /></a>
  </div>
</div>
<% } %> <%}) %> <%- include('components/footer') %>
