<%- include('components/header') %> <%- include('components/loading') %>
<div class="page-content" id="recipes-page">
  <h1>Recipes</h1>
  <p>
    Select a recipe and start your kitchen adventure! Click on steps from the
    recipe to cross them out as you complete them. And don't forget to clean up
    your kitchen space afterwards!
  </p>
  <div class="recipe-options">
    <!-- Dynamic content retrived from database-->
    <!-- Counter -->
    <% let count = 1 %> <% let colors = ['blue','watermelon', 'yellow', 'green',
    'purple'] %>

    <!-- Loop to bring in content for all recipes -->
    <% recipes.forEach(function(recipe) { %>
    <div class="recipe-option">
      <!-- Name and description elements -->
      <a href="/recipe/ <%= recipe.id%>">
        <div class="recipe-image">
          <img
            class="recipe-option-img"
            src="<%= recipe.recipeImg %>"
            alt="Recipe image"
          />
          <h2><%= recipe.name %></h2>
        </div>

        <div class="circle-gradient <%= colors[count % colors.length] %>"></div>
      </a>
    </div>

    <!-- Increment counter -->
    <% count++ %> <% }); %>
  </div>
</div>
<%- include('components/footer') %>
