<%- include('components/header', { header: true }) %> <%-
include('components/loading') %>
<div class="page-content" id="superfood-circus-page">
  <h1>Superfood Circus</h1>
  <p>
    Select a superfood to discover its circus superpower and health benefits!
  </p>
  <div class="superfood-options">
    <!-- Dynamic content retrived from database-->
    <!-- Counter -->
    <% let count = 1 %> <% let colors = ['blue','watermelon', 'yellow', 'green',
    'purple'] %>

    <!-- Loop to bring in content for all superfoods -->
    <% superfoods.forEach(function(superfood) { %>
    <div class="superfood-option">
      <!-- Name and description elements -->
      <a href="/">
        <div class="superfood-image">
          <img
            class="superfood-option-img"
            src="<%= superfood.image %>"
            alt="Superfood image"
          />
          <h2><%= superfood.name %></h2>
        </div>

        <div class="circle-gradient <%= colors[count % colors.length] %>"></div>
      </a>
    </div>

    <!-- Increment counter -->
    <% count++ %> <% }); %>
  </div>
</div>
<%- include('components/footer') %>
